body {
    background-color: #0a0a0a; 
    color: white;
    overflow-x: hidden; 
}

html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: #000000;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-nav .nav-link {
    color: white !important;
    cursor: pointer;
}

.hero-section {
    text-align: center;
    padding: 100px 0;
    margin-top: 200px;
}

.hero-section h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

.hero-section p {
    font-size: 1.2rem;
}

.download-section {
    margin-top: 70px;
}

.qr-codes img {
    width: 150px;
    margin: 20px;
}

.download-buttons .btn {
    margin-bottom: 10px;
    width: 100%;
}

.features-section h1,
.price h1 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 2.5rem;
    color: #dc3545; 
}

.card {
    background-color: #1a1a1a;
    color: white;
}

.card .btn-danger {
    background-color: #dc3545;
    border: none;
}

.card .btn-danger:hover {
    background-color: #dc3545;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px;
}

.whatsapp-btn {
    z-index: 1;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.whatsapp-btn:hover {
    background-color: #28a745;
    color: #96d055;
}

.whatsapp-btn img {
    width: 40px;
    height: 40px;
}

.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 100%;
    margin-top: 60px !important;
    margin-bottom: 110px !important;
}

.contact-section input.form-control,
.contact-section textarea.form-control {
    padding: 15px;
    line-height: 1.5;
    height: auto;
    background-color: black;
    color: #dc3545;
    border: none !important;
}

.contact-section .btn-danger {
    padding: 15px;
    font-size: 1.1rem;
    background-color: #dc3545;
}

.contact-section input::placeholder,
.contact-section textarea::placeholder {
    color: #dc3545;
}
